@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primarycolor: #0078D7;
$secondarycolor: white;

$theme-colors: (
  "primary": $primarycolor,
);

$font-family-base: 'Open Sans', sans-serif;

.title {
  color: $primarycolor
}


td {
  color: #6c757d !important;
}
